<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- COMMON TAGS -->
    <title>{{ .Title }}</title>
    <!-- Search Engine -->
    <meta name="description" content="{{ .Description }}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ .Title }}">
    {{ if .Description }}
        <meta itemprop="description" content="{{ .Description }}">
        <meta name="og:description" content="{{ .Description }}">
    {{ end }}
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ .Title }}">
    {{ if $.Param "image" }}
        <meta name="image" content="{{ .Site.BaseURL}}{{ $.Param "image" }}">
        <meta name="og:image" content="{{ .Site.BaseURL}}{{ $.Param "image" }}">
    {{ else }}
        <meta name="image" content="{{ .Site.BaseURL}}{{ .Site.Param "image" }}">
        <meta name="og:image" content="{{ .Site.BaseURL}}{{ .Site.Param "image" }}">
    {{ end }}   <meta name="og:url" content="{{ .Permalink }}">
    <meta name="og:site_name" content="{{ .Title }}">
    <meta name="og:type" content="article">
    <!-- Open Graph - Article -->
    <meta name="article:tag" content="{{ range .Params.tags }}{{.}} {{end}}">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style{{ $.Site.Params.style }}.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/syntax{{ $.Site.Params.style }}.css">
    <script async>
        window.onload = function() {
            var possibilities = [
                {{ range $.Site.Data.header.possibilities }} "{{ . }}", {{ end }}
            ];

            document.getElementById('subtitle').innerHTML = ' - ' + possibilities[Math.floor(possibilities.length * Math.random())];
        };
    </script>
</head>

<body>

<header>
    <!-- Homepage Title -->
    <a href="{{ .Site.BaseURL }}" class="title"><strong>{{ $.Site.Title }}</strong></a>
    <p id="subtitle" class="subtitle"> - {{ index $.Site.Data.header.possibilities 0 }}</p>
    <!-- Navigation Pages -->
    {{ range $i, $e:= $.Site.Params.navigation }}&nbsp;&nbsp;{{ with $.Site.GetPage "page" . }}<a href="{{ lower .Permalink }}" style="color:#777;"><strong>{{ title .Title }}</strong></a>{{ end }}{{ end }}
    <!-- Show RSS feed in the header -->
    <a href="{{ .Site.BaseURL }}index.xml" style="color:#777;float: right;">
        <strong>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-rss"
            >
                <path d="M4 11a9 9 0 0 1 9 9">
                </path>
                <path d="M4 4a16 16 0 0 1 16 16">
                </path>
                <circle cx="5" cy="19" r="1">
                </circle>
            </svg>
        </strong>
    </a>
</header>
